/* css to format index.html, contact.html and portfolio.html */

/* header */
#headerNavigation {
  position: fixed;
  z-index: 99;
  width: 100%;
  margin: 0 0 30px;
  color: #fff;
  background: #fff;
  border-bottom: 2px solid #ccc;
  margin-bottom: 20px;
  color: #333;
  background: white;
  height: 80px;
}
#logo {
  float: left;
  margin-left: 50px;
  width: 250px;
  margin-top: 0px;
  height: 80px; 
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 80px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  background: #4aaaa5;
}

nav {
  float: right;
  margin-top: 25px;
  /* align-content: center; */
}

.nav a {
  display: inline-block;
  padding-left: 5px;
  /* margin-left: 15px; */
  line-height: 5px;
  color: #999;
  text-decoration: none;
  border-left: 1px solid #efefef;
  font-size: 1.3em !important;
  align-content: center;
}

nav a:first-child {
  border-left: 0 none;
}

/* body - main content */

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #777;
  background: url("../images/circles-light.png");
  overflow: auto;
}

* {
  box-sizing: border-box;
}

.jumbotran {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  clear: both;
}

h1,
h2,
h3,
p {
  margin-bottom: 20px;
}

p:last-child {
  margin-bottom: 0;
}

.bodyTitle
{
    text-align: left;
    font-size: 20px;
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    padding: 20px;
    color: teal;  
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    /* font-style: italic; */
}

h1,
h2,
h3 {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-weight: 700;
  color: #4aaaa5;
}

h1 {
  padding-bottom: 20px;
  font-size: 30px;
  line-height: 10px;
  border-bottom: 3px solid #ddd;
}

h2,
h3 {
  font-size: 22px;
}


/* footer */

#footer
{    
    position:fixed;
    bottom:0;left:0;right:0;
    height:40px;
    width: 100%;   
    text-align: center;
    color:white;
    background:#666666;
    border-top: cadetblue;
    border-top-color: teal;
    border-top-style: solid;
    text-align: center;
    font-size: 8;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;

}

#BodyText
{
    word-wrap: break-word;
    padding-block-start: 20px;
    text-align: left;
    background-color:white;
    color: #777777;
    margin-right: 20px;
    margin-left: 20px;
    padding: 20px; 
    text-align: justify;
    height: 100%;
}

h3, h2 {
  padding-bottom: 20px;
  margin-bottom: 15px;
  line-height: 22px;
  border-bottom: 2px solid #eee;
}

#mainBody {
  padding-top: 130px;
  margin-left: 50px;
  overflow: auto;
}

.mainSection {
  float: left;
  width: 90%;
  max-width: 960px;
  padding: 30px;
  margin: 0 0 40px;
  background: #fff;
  border: 1px solid #ddd;
  height: 440px;
  align-content: center;
  overflow: auto;
}

/* portfolio page */

.work {
  position: relative;
  float: left;
  width: 274px;
  margin: 20px 0 25px;
  overflow: auto;
}

.work:nth-child(even) {
  margin-right: 40px;
}

.work img {
  width: 100%;
  border: 0 none;
  opacity: 0.8;
  height: 180px;

}

.work h3 {
  position: absolute;
  bottom: 20px;
  width: 100%;
  padding: 15px;
  margin-bottom: 0;
  font-weight: 100;
  line-height: 20px;
  color: #fff;
  text-align: center;
  background: #4aaaa5;
  border-bottom: 0;
}

/* Bottom right text */
.text-block {
    position: absolute;
    background-color: teal;
    color: white;
    text-align: center;
    width: 100%;
    bottom: 90px;
}

.indexImage
{
    margin-top: 20px;
    margin-right: 20px;
    float: left;
    width: 200px;
    height: auto;
    border-radius: 10px;
    border: 1px solid #ddd;
    left: 100px;
}

/* contact page */

#contact-form ul {
  margin-bottom: 20px;
}

#contact-form li {
  margin-bottom: 10px;
}

label,
input[type=text],
input[type=email],
textarea {
  display: block;
  width: 100%;
}

input[type=text],
input[type=email],
textarea {
  height: 35px;
  padding: 0 10px;
  font-size: 14px;
  border: 1px solid #ddd;
}

textarea {
  height: 200px;
}

#LLink
{
  color: blue;
  font-weight: 160;
  text-align: center;
  margin-left: 20px;
  /* align-content: center; */
}

input[type=submit] {
  padding: 10px 30px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  background: #4aaaa5;
  border: 0 none;
}
